{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
signup
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<section class="Form my-4 mx-5">
<div class="container-fuild">
<div class="row no-gutters">
<div class="col-lg-5">
<img src="{{ url_for('static',filename='img/5.png') }}" class="img-fuild">
</div>
<div class="col-lg-7 px-5 pt-5">
<form action="signup" method="POST">
  {{ form.hidden_tag() }}
<div class="form-row">
<div class="col-lg-7">
{{ wtf.form_field(form.username) }}
</div>
</div>
<div class="form-row">
<div class="col-lg-7">
{{ wtf.form_field(form.email) }}
</div>
</div>
  <div class="form-row">
<div class="col-lg-7">
 {{ wtf.form_field(form.password) }}
</div>
</div>
      <div class="form-row">
<div class="col-lg-7">
 {{ wtf.form_field(form.confirm) }}
</div>
</div>
          <div class="form-row">
<div class="col-lg-7">
 {{ wtf.form_field(form.tele) }}
</div>
</div>
          <div class="form-row">
<div class="col-lg-7">
 {{ wtf.form_field(form.niveau) }}
</div>
</div>
    <div class="form-row">
<div class="col-lg-7">
 {{ wtf.form_field(form.sexe) }}
</div>
</div>
<div class="form-row mt-4 mb-4">
<div class="col-lg-7">
<button type="submit" class="btn1 mb-2">Login</button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>
<!--  -->
{% endblock %}